p {
    text-align: justify;
}

.bd-article-container h1, .bd-article-container h2, .bd-article-container h3, .bd-article-container h4, .bd-article-container h5, .bd-article-container p.caption {
    color: #b70e82ff;
}

code {
    color: #579aca;
    background-color: transparent;

}

pre {
    color: #579aca;
    background-color: transparent;

}

code.literal {
    background-color: transparent;
    border: 0px;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
}
